
<div class="field">
  <h1>お気に入りのプロジェクト　リスト</h1>
  <table class="field">
    <thead>
      <tr>
        <th></th>
        <th>タイトル</th>
        <th></th>
        <th>作成日時</th>
      </tr>
    </thead>
  
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          
          <td>
            <%= link_to favorites_path(project_id: project.id) do %>
              <p>
                <div class="field center">
                  <h1 class="fav-true">❤</h1>
                </div>
              </p>
            <% end %>
          </td>
          <td>
            <% if project.themes.count==0 %>
              <%= link_to project.title, new_project_path %>
            <% else %>
              <%= link_to project.title, three_path(@user.id, project.themes.order(created_at: :desc).first.id) %>
            <% end %>
          </td>
          <td><%= project.themes.length %></td>
          <td><%= project.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H:%M:%S") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  
  <%= link_to '新規作成', new_project_path %>
  
</div>