<%= form_with(model: theme, url: project_themes_path) do |form| %>
  <% if theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

      <ul>
        <% theme.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div>

<ul>
<li>
<h3>
  <div class="field">
    <%= form.text_field :first_theme ,class: "theme_field"%>
  </div>

</h3>
</li>

<li>
<h3>
  <div class="field">
    <%= form.text_field :second_theme ,class: "theme_field"%>
  </div>

</h3>
</li>

<li>
<h3>
  <div class="field">
    <%= form.text_field :third_theme  ,class: "theme_field"%>
  </div>
</h3>
</li>

</ul>
</div>

<% end %>
