<p id="notice"><%= notice %></p>

<p>
  <strong>First theme:</strong>
  <%= @theme.first_theme %>
</p>

<p>
  <strong>Second theme:</strong>
  <%= @theme.second_theme %>
</p>

<p>
  <strong>Third theme:</strong>
  <%= @theme.third_theme %>
</p>

<%= link_to 'Edit', edit_project_theme_path(@theme) %> |
<%= link_to 'Back', project_themes_path %>
