
<div class="field">
<h1><%= @user.name %>さんのプロジェクト　リスト</h1>

<%= link_to 'お気に入りのプロジェクト', favorites_path %>
<table class="field">
  <thead>
    <tr>
      <th class="col-8">タイトル</th>
      <th class="col-1"></th>
      <th></th>
      <th></th>
      <th>作成日時</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <h3>
            <% if project.themes.count==0 %>
              <%= link_to project.title, new_project_path %>
            <% else %>
              <%= link_to project.title, three_path(@user.id, project.themes.order(created_at: :desc).first.id) %>
            <% end %>
          </h3>
        </td>
        <td>
        <p><%= link_to '名前を編集する', edit_project_path(project) %></p>
        </td>
        <td>
        <p><%= link_to '削除する', project, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </td>
        <td><%= link_to '履歴', project_themes_path(project) %></td>
        <td><%= project.themes.length %></td>
        <td><%= project.created_at.in_time_zone('Tokyo').strftime("%Y年%m月%d日 %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to '新規作成', new_project_path %>

</div>