
<div class="field">
  <h1>γƒ—γƒ­γ‚Έγ‚§γ‚―γƒγ€€γƒγ‚Ήγƒ</h1>
  <%= link_to 'γζ°—γ«ε…¥γ‚γ®γƒ—γƒ­γ‚Έγ‚§γ‚―γƒ', favorites_path %>
  <%= search_form_for @q, url: search_projects_path do |f| %>
    <%= f.label :title_cont, 'γ‚Ώγ‚¤γƒγƒ«ζ¤η΄Ά' %>
    <%= f.search_field :title_cont, placeholder: "γƒ—γƒ­γ‚Έγ‚§γ‚―γƒγ®γ‚Ώγ‚¤γƒγƒ«" %>
    <br>
    <%= f.submit 'ζ¤η΄Ά' %>
  <% end %>
  
  <table class="field table-fixed">
    <thead>
      <tr>
      <th></th>
        <th>εε‰</th>
        <th>γ‚Ώγ‚¤γƒγƒ«</th>
        <th>ε¤‰ζ›΄ε›ζ•°</th>
        <th>δ½ζζ—¥ζ™‚</th>
      </tr>
    </thead>
  
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td>
            <% if project.user ==current_user %>
              <h1>π‘¤</h1>
            <% elsif Favorite.exists?(user_id: current_user.id, project_id: project.id) %>
              <%= render 'projects/non_favorite', {project: project} %>
            <% else %>
              <%= render 'projects/favorite', {project: project} %>
            <% end %>
          </td>
          <td><%= link_to project.user.name, my_page_path(project.user) %></td>
          <td>
            <h3>
              <% if project.user == current_user && project.themes.count==0 %>
                <%= link_to project.title, new_project_path %>
              <% else %>
                <%= link_to project.title, three_path(project.user.id, project.themes.order(created_at: :desc).first.id) %>
              <% end %>
            </h3>
          </td>
          <td><%= project.themes.length %></td>
          <td>
            <p>
            γ€δ½ζζ—¥ζ™‚γ€‘:<%= project.created_at.in_time_zone('Tokyo').strftime("%YεΉ΄%mζ%dζ—¥ %H:%M:%S") %>
            </p>
            <% if project.themes.length > 1 %>
              <p>
              γ€ε¤‰ζ›΄ζ—¥ζ™‚γ€‘:<%= project.themes.order(created_at: :desc).first.created_at.in_time_zone('Tokyo').strftime("%YεΉ΄%mζ%dζ—¥ %H:%M:%S") %>
              </p>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
  
  <br>
  
  <%= link_to 'ζ–°θ¦δ½ζ', new_project_path %>
  
</div>