<%= form_with(model: @project) do |form| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "件のエラー") %>があります</h2>
      <ul>
        <% @project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= form.text_field :title ,class: "theme_field project", placeholder: "プロジェクト名" %></h2>
  

  <%= form.fields_for :themes do | form | %>
    <ul>
      <li>
        <h3>
          <div class="field">
            <%= form.text_field :first_theme ,class: "theme_field first_theme", placeholder: "テーマ　①"%>
          </div>
        </h3>
      </li>
      <li>
        <h3>
          <div class="field">
            <%= form.text_field :second_theme ,class: "theme_field second_theme", placeholder: "テーマ　②"%>
          </div>
        </h3>
      </li>
      <li>
        <h3>
          <div class="field">
            <%= form.text_field :third_theme  ,class: "theme_field third_theme", placeholder: "テーマ　③"%>
          </div>
        </h3>
      </li>
    </ul>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to '戻る',  projects_path %>
</div>