<!DOCTYPE html>
<html>
  <head>
    <title>ThreeeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="header navbar navbar-light bg-light" >
      <div class="container-fluid">
        
          <%= button_to "Threee", top_path, {method: :get, class: "btn btn-outline-dark"} %>
        <% if user_signed_in? %>
          <%= button_to "プロジェクト", projects_path, {method: :get, class: "btn btn-light"} %>
          <%= button_to "ログアウト", destroy_user_session_path, class: "btn btn-light", method: :delete %>
        <% else %>
          <%= button_to "新規登録", new_user_registration_path, class: "btn btn-light" %>
          <%= button_to "ログイン", new_user_session_path, class: "btn btn-light" %>
        <% end %>
      </div>
    </nav>
        <% if notice %>
          <p class="alert alert-notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><%= alert %></p>
        <% end %>
    <%= yield %>
      
    <footer class="footer bg-light text-center text-lg-start">
  
      <div class="text-center p-3" >
        © 2022 Copyright: Threee
      </div>
    </footer>
  </body>
</html>
